    <header id="postHead">
      <img src="{{headPic}}" alt=""/>
    </header>

    <h2 id="postTitle">{{titre}}</h2>

    <section id="postContentText" class="container-fluid">
      <div class="container">
        {{text}}
      </div>
    </section>

    <section id="postPics" class="container-fluid">
      <div class="container">
        {{picture}}
      </div>
    </section>

    <hr>

    <footer class="box text-center d-flex align-items-center">
      <div class="w-100">
        <p>FOOTER</p>
      </div>
    </footer>
