<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Visual DnB</title>
    <!-- SLIDER PARALLAX -->
    <link rel="stylesheet" type="text/css" href="css/slider/style2.css" />
    <script type="text/javascript" src="js/slider/modernizr.custom.28468.js"></script>
    <noscript>
			<link rel="stylesheet" type="text/css" href="css/slider/nojs.css" />
		</noscript>
    <!-- CSS PERSO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/simplyscroll/jquery.simplyscroll.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

    <header class="container-fluid">
      <!-- VIDEO PRESENTATION -->
      <video id="topVid" class="container-fluid" autoplay="" loop="" muted src="https://visualdnb.files.wordpress.com/2017/12/bigroom-aftermovie.mp4">
      </video>
    </header>

    <nav id="navigation" class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-around">
          <li class="nav-item">
            <button id="fr" type="button" class="btn btn-primary">Fr</button>
            <button id="eng" type="button" class="btn btn-primary">Eng</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header"><span class="fr">Accueil</span><span class="eng">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"><span class="fr">Qui nous sommes</span><span class="eng">Who we are</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#prestations"><span class="fr">Prestations</span><span class="eng">Performances</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#team"><span class="fr">L'équipe</span><span class="eng">the Team</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <section id="trans1" class="img-transition">
    </section>

    <section id="presentation">
      <div class="container">
        <img class="img-fluid" src="https://visualdnb.files.wordpress.com/2018/04/cropped-lelogovdnb1.png"/>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

    <section id="booked">
      <h3 class="text-center"><span class="fr">Programmés avec :</span><span class="eng">Booked with :</span></h3>
      <div class="container">
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
        <img class="img-fluid bubble" src="https://visualdnb.files.wordpress.com/2017/12/trampa-03.jpg"/>
      </div>
    </section>

    <section id="trans2" class="img-transition">
    </section>

    <section id="presta" class="container-fluid">
      <h3 class="text-center"><span class="fr">Prestations</span><span class="eng">Performances</span></h3>
      <div class="container">
        <div id="da-slider" class="da-slider">
          <div class="da-slide row">
            <div class="col-sm-12 col-md-6 col-lg-8">
              <h2>Easy management</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <a href="#" class="da-link">Read more</a>
            </div>
            <div class="da-img col-sm-12 col-md-6 col-lg-4"><img class="img-fluid" src="https://visualdnb.files.wordpress.com/2018/04/10ansbigroom-012-e1523480499310.jpg?w=1024&h=515&crop=1" alt="image01" /></div>
          </div>
          <div class="da-slide row">
            <div class="col-sm-12 col-md-6 col-lg-8">
              <h2>Easy management</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <a href="#" class="da-link">Read more</a>
            </div>
            <div class="da-img col-sm-12 col-md-6 col-lg-4"><img class="img-fluid" src="https://visualdnb.files.wordpress.com/2018/04/10ansbigroom-012-e1523480499310.jpg?w=1024&h=515&crop=1" alt="image01" /></div>
          </div>
          <div class="da-slide row">
            <div class="col-sm-12 col-md-6 col-lg-8">
              <h2>Easy management</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <a href="#" class="da-link">Read more</a>
            </div>
            <div class="da-img col-sm-12 col-md-6 col-lg-4"><img class="img-fluid" src="https://visualdnb.files.wordpress.com/2018/04/10ansbigroom-012-e1523480499310.jpg?w=1024&h=515&crop=1" alt="image01" /></div>
          </div>
          <div class="da-slide row">
            <div class="col-sm-12 col-md-6 col-lg-8">
              <h2>Easy management</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <a href="#" class="da-link">Read more</a>
            </div>
            <div class="da-img col-sm-12 col-md-6 col-lg-4"><img class="img-fluid" src="https://visualdnb.files.wordpress.com/2018/04/10ansbigroom-012-e1523480499310.jpg?w=1024&h=515&crop=1" alt="image01" /></div>
          </div>

          <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
          </nav>
        </div>
      </div>
    </section>

    <section id="insta">
    </section>

    <section id="skills">
    </section>

    <section id="trans3" class="img-transition">
    </section>

    <section id="team">
    </section>

    <section id="gallery" class="text-center box">
      <h3>GalCréa</h3>
      <div id="galCrea" class="simply-scroll simply-scroll-container offset-2 col-md-8">
        <div class="simply-scroll-clip">
          <ul class="scroller simply-scroll-list" style="width: 2320px;">
              <li><img src="img/home.jpg" alt="Firehouse" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Chloe nightclub" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Firehouse bar" width="290" height="200"></li>
          </ul>
        </div>
      </div>

      <h3>GalImg</h3>
      <div id="galImg" class="simply-scroll simply-scroll-container offset-md-2 col-md-8">
        <div class="simply-scroll-clip">
          <ul class="scroller simply-scroll-list" style="width: 2320px;">
              <li><img src="img/home.jpg" alt="Firehouse" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Chloe nightclub" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Firehouse bar" width="290" height="200"></li>
          </ul>
        </div>
      </div>

      <h3>GalVid</h3>
      <div id="galVid" class="simply-scroll simply-scroll-container offset-md-2 col-md-8">
        <div class="simply-scroll-clip">
          <ul class="scroller simply-scroll-list" style="width: 2320px;">
              <li><img src="img/home.jpg" alt="Firehouse" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Chloe nightclub" width="290" height="200"></li>
              <li><img src="img/home.jpg" alt="Firehouse bar" width="290" height="200"></li>
          </ul>
        </div>
      </div>
    </section>

    <section id="contact" class="container box">
      <div class="row">
      <!-- CONTACT + CALENDRIER -->
        <form id="contactForm" action="/" class="col-12 col-md-6 box" method="POST">
          <input type="text" class="col-12" name="nom" placeholder="Nom" required>
          <input type="email" class="col-12" name="email" placeholder="Email" required>
          <textarea type="text" class="col-12" name="message" placeholder="Message" required></textarea>
          <input type="submit" class="col-12" value="Envoyer"></input>
        </form>

        <div id="calendrier" class="col-12 col-md-6 box text-center">
          <iframe class="col-12 box" src="https://calendar.google.com/calendar?cid=eWVsbG93YWZvcm1hY0BnbWFpbC5jb20" frameborder="15"></iframe>
        </div>
      </div>
    </section>

    <footer class="box">

    </footer>

    <!-- INSERTION SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/simplyscroll/jquery.simplyscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="js/slider/jquery.cslider.js"></script>

  </body>
</html>
