<form action="/admin" method="POST" class="text-center" style="padding-top:20%">
  <input type="text" name="username" placeholder="Username" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <input id="adminButton" type="submit" value="Envoyer">
</form>
