$noir : #070C0C;
$blanc : #E5E5E4;
$vert : #05b72f;

// .box{
//   border: 1px solid $blanc;
// }

// >>>>>>>>>>>>>> MEDIA QUERY TABLETTE <<<<<<<<<<<<<<
@media (min-height: 650px) and (max-height: 900px){
  body{
    header{
      #topVid{
        height: 125%;
        overflow: hidden;
        top: -8em;
      }
      #vimButton{
        button{
          font-size: 30px;
        }
      }
    }
    #showroom{
      .next, .prev{
        font-size: 7em;
      }
    }
  }
}
// >>>>>>>>>>>>>>> MEDIA QUERY DESKTOP <<<<<<<<<<<<<
@media (min-width: 910px){
  body{
    header{
      #topVid{
        top: -8em;
      }
      #vimButton{
        button{
          font-size: 50px;
        }
      }
    }
    #showroom{
      .next, .prev{
        font-size: 10em;
      }
    }
  }
}

body{
  background-color : $noir;
  color : $blanc;
  z-index: 0;
  position: static;
  section{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color : $noir;
    z-index: 10;
  }
  h3{
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  i{
    color: $vert;
  }
  .row{
    margin: 0px;
  }
  .container-fluid{
    padding: 0px;
  }

  .toGreen{
    color: $blanc;
    transition: all 280ms ease-in-out;
  }
  .toGreen:hover{
    color: $vert;
    letter-spacing: 0.2em;
    transition: all 400ms ease-in-out;
  }
  .toGreenMod{
    color: $noir;
    transition: all 280ms ease-in-out;
  }
  .toGreenMod:hover{
    color: $vert;
    letter-spacing: 0.2em;
    transition: all 400ms ease-in-out;
  }

  .bubble2{
    width: 8em;
    height: 8em;
    border-radius: 100%;
    padding: 20px;
  }
  .bubble{
    width: 10em;
    height: 10em;
    border-radius: 100%;
    padding: 20px;
    border: none;
    transition: all 280ms ease-in-out;
    transform: rotate(-360deg);
  }
  .bubble:hover{
    transition: all 280ms ease-in-out;
    transform: rotate(360deg);
    border: 0.5em solid rgba(5, 183, 47, 0.5);
    width: 11em;
    height: 11em;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $vert;
  }
  hr{
    background-color: $blanc;
    color: $blanc;
    margin: 0;
  }
}

header{
  #topVid{
    overflow: hidden;
    z-index: -50;
    display: block;
    position: fixed;
    height: 115%;
    width: 100%;
    top: -1em;
  }
  #vimButton{
    position: relative;
    top: 90%;
    button{
      transition: width 350ms ease-in-out;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
    }
    button:hover{
      cursor: pointer;
      border: none;
      opacity: 0.8;
    }
  }
}

#navigation{
  z-index: 20;
  background-color: $noir;
  font-size: 1.5em;
  width: 100%;
  div, ul{
    width: 100%;
  }
  button{
    height: 1.5em;
    margin: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    img{
      height: 1.5em;
      }
      img:hover{
        cursor: pointer;
      }
    }
  .btn-2:after,
  .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
    color: $vert;
  }
  .btn-2:hover:after,
  .btn-2:hover:before {
    backface-visibility: hidden;
    border-color: $vert;
    color: $vert;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  .btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}

#about{
  z-index: 10;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  img{
    padding-bottom: 1em;
  }
}

#booked{
  max-width: 100%;
  height: auto;
}

#presta{
  height: auto;
  width: 100%;
  #da-slider, .da-slider{
    width: 100%;
    h4{
      font-size: 20px;
    }
  }
}

#insta{
  height: auto;
  width: 100%;
  #instafeed{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2em;
    a{
      color: $blanc;

    }
    .feed{
      max-height: 25em;
      width: auto;
      padding-left: 1em;
    }
    p{
      padding-top: 1em;
    }
  }
}

#team{
  .row{}
}

#showroom{
  .buttons{
    padding: 1em;
  }
  .prev, .next{
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 4em;
    height: 100%;
    width: 100%;
    outline: none;
  }
  button:hover{
    cursor: pointer;
    border: none;
    opacity: 0.8;
  }
  .focus{
    max-height: 90%;
    width: auto;
  }
  .display{
    height: 100%;
    width: auto;
  }
  p{
    height: 100%;
  }
}

#contact{
  padding-bottom: 3em;
  #contact div.row{
    // padding: 2em;
  }
  #contactForm{
    background-color : $noir;
    input, textarea{
      margin : 1em 0px 1em 0px;
    }
  }
  input[type=text], input[type=email], input[type=password]{
    height: 2.5em;
    border-radius: 1em;
    transition: all 280ms ease-in-out;
  }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
    background-color: rgba(0,0,0,0);
    color: $vert;
    font-weight: bold;
    transition: all 280ms ease-in-out;
  }
  #submit{
    height: 3em;
    border: none;
    background: $vert;
    border-radius: 50px;
    transition: all 280ms ease-in-out;
  }
  #submit:hover{
    color: $blanc;
    border: none;
    box-shadow: 0 0 0 2px $blanc, 0 0 0 4px $vert;
    background: darken($vert, 10);
    transition: all 280ms ease-in-out;
  }
  #calendrier{
    background-color : $noir;
  }
  #calendrier iframe{
    width: 100%;
    border-color: #05b72f;
  }
}

#infos{
  color: $noir;
  img{
    max-width: 50%;
    right: 25%;
  }
}

footer{
  margin: 0;
  height : 100px;
  background-color : $noir;
  p{
    width: 100%;
    height: 100%;
  }
  i{
    color: $blanc;
  }
}

// >>>>>>>>>>>>>>>> ADMIN ARTICLES <<<<<<<<<<<<<
#postHeader{
  padding-bottom: 3em;
  img{
    max-height:500px;
  }
}

#postTitle{
  h2{
    font-size: 3em;
    padding-bottom: 0.5em;
  }
}

#postContent{
  padding-top: 3em;
  padding-bottom: 2em;
}

#postPics{
  div{
    padding-bottom: 3em;
  }
  .hover-shadow {
  transition: 0.3s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img{
    max-height: 300px;
    width: auto;
  }
}

#postModal, .modal-content, .modal-dialog, .modal-body{
  min-width: 80%;
  height: auto;
  #modalFocus{
    height: auto;
    width: 100%;
  }
}

// >>>>>>>>>>>>>>>> ADMIN SHOWROOM <<<<<<<<<<<<<
#adminLogo, #adminAudreact, #adminBumpers, #adminVJing{
  padding-top: 1em;
  padding-bottom: 2em;
  height: 100%;
  form{
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
  }
  .content{
    max-width: 50%;
    img{
      max-height: 100px;
      width: auto;
      padding-bottom: 5px;
    }
  }
  iframe{
    height: auto;
  }
}
